---
- name: "nomad | nomad_clients | Main"
  block:
    - name: "nomad | nomad_clients | Install docker driver"
      ansible.builtin.include_role:
        name: ednz_cloud.utils.install_docker
      when: nomad_driver_enable_docker

    - name: "nomad | nomad_clients | Include ednz_cloud.hashistack.cni"
      ansible.builtin.include_role:
        name: ednz_cloud.hashistack.cni

    - name: "nomad | nomad_clients | Deploy Clients"
      ansible.builtin.include_role:
        name: ednz_cloud.hashistack.nomad
      when: not nomad_enable_server
