# ignore molecule/testinfra pycache
**/__pycache__
.vscode
roles/ednz_cloud.*
vault_config.yml
consul_config.yml
**/certificates/**
**/secrets/credentials.yml
**/secrets/credentials.decrypt.yml
**/secrets/vault.yml
**/.ansible-vault

tests/output

.ruff_cache

# ignore local ansible test files
.ansible
.env

# ignore gitlab-ci-local files
.gitlab-ci-local-variables.yml
