---
- name: "renew | renew_intermediate | Check if intermediate CA certificate exists"
  ansible.builtin.stat:
    path: "{{ hashistack_ca_intermediate_cert_path }}"
  register: _hashistack_ca_intermediate_cert_stat
  delegate_to: localhost

- name: "renew | renew_intermediate | Check if root CA certificate exists"
  ansible.builtin.stat:
    path: "{{ hashistack_ca_root_cert_path }}"
  register: _hashistack_ca_root_cert_stat
  delegate_to: localhost

- name: "renew | renew_intermediate | Check CA for renewal"
  when:
    - _hashistack_ca_intermediate_cert_stat.stat.exists
    - _hashistack_ca_intermediate_cert_stat.stat.isreg
    - _hashistack_ca_root_cert_stat.stat.exists
    - _hashistack_ca_root_cert_stat.stat.isreg
  delegate_to: localhost
  block:
    - name: "renew | renew_intermediate | Get intermediate CA certificate expiration date"
      community.crypto.x509_certificate_info:
        path: "{{ hashistack_ca_intermediate_cert_path }}"
        valid_at:
          renew_threshold: "+{{ hashistack_ca_intermediate_renew_threshold }}"
      register: _hashistack_ca_intermediate_cert_info

    - name: "renew | renew_intermediate | Get root CA certificate info"
      community.crypto.x509_certificate_info:
        path: "{{ hashistack_ca_root_cert_path }}"
      register: _hashistack_ca_root_cert_info

    - name: "renew | renew_intermediate | Check if intermediate CA certificate is expiring within the threshold"
      ansible.builtin.set_fact:
        _hashistack_ca_is_expiring_soon: "{{ not _hashistack_ca_intermediate_cert_info.valid_at.renew_threshold }}"

    - name: "renew | renew_intermediate | Check if root CA has been renewed"
      ansible.builtin.set_fact:
        _hashistack_ca_root_renewed: "{{ _hashistack_ca_root_cert_info.not_before > _hashistack_ca_intermediate_cert_info.not_before }}"

- name: "renew | renew_intermediate | Renew CA if expiring soon or root CA has been renewed"
  when:
    - _hashistack_ca_is_expiring_soon or _hashistack_ca_root_renewed
  delegate_to: localhost
  block:
    - name: "renew | renew_intermediate | Create backup directory for intermediate CA"
      ansible.builtin.file:
        path: "{{ hashistack_ca_intermediate_backup_dir }}"
        state: directory
        owner: "{{ hashistack_ca_directory_owner }}"
        group: "{{ hashistack_ca_directory_owner }}"
        mode: "0755"

    - name: "renew | renew_intermediate | Format expiration date for backup"
      ansible.builtin.set_fact:
        _hashistack_ca_intermediate_expiration_date: >-
          {{ _hashistack_ca_intermediate_cert_info.not_after[:8] | regex_replace('^([0-9]{4})([0-9]{2})([0-9]{2})$', '\\1_\\2_\\3') }}

    - name: "renew | renew_intermediate | Backup existing intermediate CA certificate"
      ansible.builtin.command:
        cmd: >-
          mv {{ hashistack_ca_intermediate_cert_path }}
          {{ hashistack_ca_intermediate_backup_dir }}/intermediate_ca_expire_{{ _hashistack_ca_intermediate_expiration_date }}.crt
      run_once: true
      changed_when: false

    - name: "renew | renew_intermediate | Backup existing intermediate CA key"
      ansible.builtin.command:
        cmd: >-
          mv {{ hashistack_ca_intermediate_key_path }}
          {{ hashistack_ca_intermediate_backup_dir }}/intermediate_ca_expire_{{ _hashistack_ca_intermediate_expiration_date }}.key
      run_once: true
      changed_when: false

    - name: "renew | renew_intermediate | Generate new intermediate CA if backups were successful"
      ansible.builtin.include_tasks: ../generate/generate_intermediate.yml

    - name: "renew | renew_intermediate | Generate new consul leaf certificates"
      ansible.builtin.include_tasks: ../renew/renew_consul.yml

    - name: "renew | renew_intermediate | Generate new nomad leaf certificates"
      ansible.builtin.include_tasks: ../renew/renew_nomad.yml

    - name: "renew | renew_intermediate | Generate new vault leaf certificates"
      ansible.builtin.include_tasks: ../renew/renew_vault.yml
