---
- name: "load_credentials_vars | Stat credentials file"
  ansible.builtin.stat:
    path: "{{ hashistack_sub_configuration_directories['secrets'] }}/{{ hashistack_configuration_credentials_vars_file }}"
  register: _hashistack_credentials_file
  delegate_to: localhost

- name: "load_credentials_vars | Stat vault credentials file"
  ansible.builtin.stat:
    path: "{{ hashistack_sub_configuration_directories['secrets'] }}/vault.yml"
  register: _hashistack_vault_credentials_file
  delegate_to: localhost

- name: "load_credentials_vars | Make sure credentials file exists"
  ansible.builtin.assert:
    that:
      - _hashistack_credentials_file.stat.exists
    fail_msg: >-
      Credentials file {{ _hashistack_credentials_file.stat.path }} was not found, cannot continue without it.
  delegate_to: localhost

- name: "load_credentials_vars | Load credentials variables"
  ansible.builtin.include_vars:
    dir: "{{ hashistack_sub_configuration_directories['secrets'] }}"
    files_matching: "{{ hashistack_configuration_credentials_vars_file }}"
    depth: 1
    name: _hashistack_credentials
  delegate_to: localhost

- name: "load_credentials_vars | Load vault credentials if vault.yml exists"
  ansible.builtin.include_vars:
    dir: "{{ hashistack_sub_configuration_directories['secrets'] }}"
    files_matching: "vault.yml"
    depth: 1
    name: _hashistack_vault_credentials
  when: _hashistack_vault_credentials_file.stat.exists
  delegate_to: localhost

- name: "load_credentials_vars | Merge vault credentials into _hashistack_credentials"
  vars:
    _config_to_merge:
      vault: "{{ _hashistack_vault_credentials }}"
  ansible.builtin.set_fact:
    _hashistack_credentials: "{{ _hashistack_credentials | combine(_config_to_merge, recursive=true) }}"
  when: _hashistack_vault_credentials_file.stat.exists
  delegate_to: localhost
