---
- name: "Load global variables"
  ansible.builtin.include_tasks: load_global_vars.yml
  when: not hashistack_only_load_credentials

- name: "Load credentials variables"
  ansible.builtin.include_tasks: load_credentials_vars.yml

- name: "Load group specific variables"
  ansible.builtin.include_tasks: load_group_vars.yml
  when: not hashistack_only_load_credentials

- name: "Load host specific variables"
  ansible.builtin.include_tasks: load_host_vars.yml
  when: not hashistack_only_load_credentials

- name: "Ensure remote directories exists"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: root
    group: root
    mode: "0755"
  loop:
    - "{{ hashistack_remote_config_dir }}"
    - "{{ hashistack_remote_log_dir }}"
  when: not hashistack_only_load_credentials

- name: "Load custom CA certificates"
  ansible.builtin.include_tasks: load_ca_certificates.yml
  when: not hashistack_only_load_credentials
